<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>M.M.Fayik-COBSCCOMP191P-035.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>M.M.Fayik-COBSCCOMP191P-035UITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11DBB6A124F10A4A005546AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11DBB6BA24F10A4B005546AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11DBB6C524F10A4C005546AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
